@{
    ViewData["Title"] = "Home Page";
}

<h2>Controllers</h2>
<p>
    <a asp-controller="MVC1" asp-action="Index">Index</a>
</p>
<p>
    <a asp-controller="MVC1" asp-action="Welkom">Welkom</a>
</p>
<p>
    <a asp-controller="MVC1">Index (Zonder Action Method)</a>
</p>
<p>
    <a asp-controller="MVC1" asp-action="Bestelling" asp-route-id="3">Route parameters</a>
</p>
<p>
    <a asp-controller="MVC1" asp-action="Boodschap" asp-route-voornaam="Tom" asp-route-boodschap="Test">Query parameters</a>
</p>

<h2>Views</h2>
<p>
    <a asp-controller="MVC1" asp-action="HelloRazor">Hello Razor</a>
</p>
<p>
    <a asp-controller="MVC1" asp-action="HelloViewData">Hello ViewData</a>
</p>