@{
    ViewData["Title"] = "Alle maaltafels";
    int aantal = (int) ViewData["Aantal"];
}

@for(int i = 1; i <= aantal; i++) {
    <div class="card berekening-kaartje-klein">
        <img src="~/images/berekeningen.png" height="250px" width="150px" class="card-img-top" alt="Afbeelding berekeningen" style="padding: 25px">
        <div class="card-body">
            <a asp-controller="Maaltafels" asp-action="Details" asp-route-tafel="@i" class="btn btn-primary">Bekijk de maaltafel van @i!</a>
        </div>
    </div>
}